// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CatchAllApi from "../../../index.js";

export declare namespace DatasetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Operations to create and manage datasets of entities.
 *
 * A dataset is a named collection of entities — think of it as a watchlist or
 * portfolio. Connect a dataset to a job via `connected_dataset_ids` to activate
 * Company Watchlist. Datasets can be reused across multiple jobs and monitors.
 */
export class DatasetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DatasetsClient.Options>;

    constructor(options: DatasetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns a paginated list of datasets belonging to the authenticated
     * organization. Supports filtering by status and sorting by name,
     * status, or creation date.
     *
     * @param {CatchAllApi.ListDatasetsRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     *
     * @example
     *     await client.datasets.listDatasets({
     *         search: "Portfolio"
     *     })
     */
    public listDatasets(
        request: CatchAllApi.ListDatasetsRequest = {},
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.DatasetListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listDatasets(request, requestOptions));
    }

    private async __listDatasets(
        request: CatchAllApi.ListDatasetsRequest = {},
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.DatasetListResponse>> {
        const {
            page,
            page_size: pageSize,
            search,
            latest_status: latestStatus,
            sort_by: sortBy,
            sort_order: sortOrder,
            ownership,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            search,
            latest_status: latestStatus != null ? latestStatus : undefined,
            sort_by: sortBy != null ? sortBy : undefined,
            sort_order: sortOrder != null ? sortOrder : undefined,
            ownership: ownership != null ? ownership : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/datasets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.DatasetListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catchAll/datasets");
    }

    /**
     * Creates a new dataset from a list of existing entity IDs.
     *
     * If any of the provided entity IDs do not exist or do not belong to
     * your organization, the request fails with `400`. All entity IDs must
     * be valid before the dataset is created.
     *
     * To create a dataset and entities in one step, use the [`Create dataset from CSV`](https://www.newscatcherapi.com/docs/web-search-api/api-reference/datasets/create-dataset-from-csv)
     * endpoint instead.
     *
     * @param {CatchAllApi.CreateDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.BadRequestError}
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.datasets.createDataset({
     *         name: "My Portfolio",
     *         description: "Companies in our investment portfolio",
     *         entity_ids: ["854198fa-f702-49db-a381-0427fa87f173", "a1b2c3d4-e5f6-7890-abcd-ef1234567890"]
     *     })
     */
    public createDataset(
        request: CatchAllApi.CreateDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.DatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDataset(request, requestOptions));
    }

    private async __createDataset(
        request: CatchAllApi.CreateDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.DatasetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/datasets",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.DatasetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CatchAllApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/catchAll/datasets");
    }

    /**
     * Creates a new dataset by uploading a CSV file. Each row in the CSV
     * becomes an entity. The `name` column is required; all other columns
     * are optional.
     *
     * **CSV format:**
     * ```csv
     * name,description,domain,alternative_names,key_persons
     * NewsCatcher,"AI-powered news data provider",newscatcherapi.com,"NC;NewsCatcher API","Artem Bugara;Maksym Sugonyaka"
     * OpenAI,"Artificial intelligence research company",openai.com,"Open AI","Sam Altman"
     * ```
     *
     * Use semicolons (`;`) to separate multiple values in `alternative_names` and `key_persons`. Rows with empty `name` are skipped and reported in `validation_report`.
     *
     * **Note**: The response shape differs from the JSON dataset creation endpoint: it returns `dataset_id` (not `id`) and includes a `validation_report` with details on skipped rows.
     *
     * @param {CatchAllApi.CreateDatasetFromCsvRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.datasets.createDatasetFromCsv({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         name: "name"
     *     })
     */
    public createDatasetFromCsv(
        request: CatchAllApi.CreateDatasetFromCsvRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.CreateDatasetCsvResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createDatasetFromCsv(request, requestOptions));
    }

    private async __createDatasetFromCsv(
        request: CatchAllApi.CreateDatasetFromCsvRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.CreateDatasetCsvResponse>> {
        const _body = await core.newFormData();
        await _body.appendFile("file", request.file);
        _body.append("name", request.name);
        if (request.description != null) {
            _body.append("description", request.description);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/datasets/upload",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.CreateDatasetCsvResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/catchAll/datasets/upload");
    }

    /**
     * Returns a single dataset by ID including entity count and current status.
     *
     * @param {CatchAllApi.GetDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     *
     * @example
     *     await client.datasets.getDataset({
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
     *     })
     */
    public getDataset(
        request: CatchAllApi.GetDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.DatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDataset(request, requestOptions));
    }

    private async __getDataset(
        request: CatchAllApi.GetDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.DatasetResponse>> {
        const { dataset_id: datasetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(datasetId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.DatasetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/datasets/{dataset_id}",
        );
    }

    /**
     * Permanently deletes a dataset. The entities within the dataset are
     * not deleted — only the dataset itself. This operation cannot be
     * undone.
     *
     * @param {CatchAllApi.DeleteDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     *
     * @example
     *     await client.datasets.deleteDataset({
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
     *     })
     */
    public deleteDataset(
        request: CatchAllApi.DeleteDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteDataset(request, requestOptions));
    }

    private async __deleteDataset(
        request: CatchAllApi.DeleteDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { dataset_id: datasetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(datasetId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/catchAll/datasets/{dataset_id}",
        );
    }

    /**
     * Updates the name or description of a dataset.
     *
     * @param {CatchAllApi.UpdateDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.datasets.updateDataset({
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2",
     *         name: "My Portfolio (updated)",
     *         description: "Updated Q1 2026 watchlist"
     *     })
     */
    public updateDataset(
        request: CatchAllApi.UpdateDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.DatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateDataset(request, requestOptions));
    }

    private async __updateDataset(
        request: CatchAllApi.UpdateDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.DatasetResponse>> {
        const { dataset_id: datasetId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(datasetId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.DatasetResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/catchAll/datasets/{dataset_id}",
        );
    }

    /**
     * Returns a paginated list of entities in a dataset. Supports filtering by status and entity type.
     *
     * @param {CatchAllApi.ListEntitiesInDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     *
     * @example
     *     await client.datasets.listEntitiesInDataset({
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
     *     })
     */
    public listEntitiesInDataset(
        request: CatchAllApi.ListEntitiesInDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.DatasetEntityListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEntitiesInDataset(request, requestOptions));
    }

    private async __listEntitiesInDataset(
        request: CatchAllApi.ListEntitiesInDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.DatasetEntityListResponse>> {
        const {
            dataset_id: datasetId,
            page,
            page_size: pageSize,
            search,
            status,
            entity_type: entityType,
            sort_by: sortBy,
            sort_order: sortOrder,
        } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            search,
            status: status != null ? status : undefined,
            entity_type: entityType != null ? entityType : undefined,
            sort_by: sortBy != null ? sortBy : undefined,
            sort_order: sortOrder != null ? sortOrder : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(datasetId)}/entities`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CatchAllApi.DatasetEntityListResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/datasets/{dataset_id}/entities",
        );
    }

    /**
     * Adds one or more existing entities to a dataset. Returns the number of entities added.
     *
     * @param {CatchAllApi.AddEntitiesToDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.datasets.addEntitiesToDataset({
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2",
     *         body: {
     *             entity_ids: ["854198fa-f702-49db-a381-0427fa87f173"]
     *         }
     *     })
     */
    public addEntitiesToDataset(
        request: CatchAllApi.AddEntitiesToDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ManageEntitiesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addEntitiesToDataset(request, requestOptions));
    }

    private async __addEntitiesToDataset(
        request: CatchAllApi.AddEntitiesToDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ManageEntitiesResponse>> {
        const { dataset_id: datasetId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(datasetId)}/entities`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.ManageEntitiesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/catchAll/datasets/{dataset_id}/entities",
        );
    }

    /**
     * Removes one or more entities from a dataset. The entities themselves
     * are not deleted — they are only removed from this dataset. Returns
     * the number of entities removed.
     *
     * @param {CatchAllApi.RemoveEntitiesFromDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.datasets.removeEntitiesFromDataset({
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2",
     *         body: {
     *             entity_ids: ["854198fa-f702-49db-a381-0427fa87f173"]
     *         }
     *     })
     */
    public removeEntitiesFromDataset(
        request: CatchAllApi.RemoveEntitiesFromDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ManageEntitiesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__removeEntitiesFromDataset(request, requestOptions));
    }

    private async __removeEntitiesFromDataset(
        request: CatchAllApi.RemoveEntitiesFromDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ManageEntitiesResponse>> {
        const { dataset_id: datasetId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(datasetId)}/entities`,
            ),
            method: "DELETE",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.ManageEntitiesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/catchAll/datasets/{dataset_id}/entities",
        );
    }

    /**
     * Returns the full status change history for a dataset, ordered
     * chronologically from oldest to newest.
     *
     * @param {CatchAllApi.GetDatasetStatusHistoryRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     *
     * @example
     *     await client.datasets.getDatasetStatusHistory({
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
     *     })
     */
    public getDatasetStatusHistory(
        request: CatchAllApi.GetDatasetStatusHistoryRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.DatasetStatusHistoryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getDatasetStatusHistory(request, requestOptions));
    }

    private async __getDatasetStatusHistory(
        request: CatchAllApi.GetDatasetStatusHistoryRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.DatasetStatusHistoryResponse>> {
        const { dataset_id: datasetId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(datasetId)}/status`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CatchAllApi.DatasetStatusHistoryResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/datasets/{dataset_id}/status",
        );
    }

    /**
     * Appends new companies to an existing dataset by uploading a CSV file.
     * Uses the same CSV format as the dataset creation endpoint.
     *
     * The response omits `dataset_name` compared to the create-from-CSV
     * endpoint since the dataset already exists.
     *
     * @param {CatchAllApi.UploadCsvToDatasetRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.datasets.uploadCsvToDataset({
     *         file: fs.createReadStream("/path/to/your/file"),
     *         dataset_id: "ccabb755-afc2-4047-b84c-78d1f23d49b2"
     *     })
     */
    public uploadCsvToDataset(
        request: CatchAllApi.UploadCsvToDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.UploadCsvToDatasetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__uploadCsvToDataset(request, requestOptions));
    }

    private async __uploadCsvToDataset(
        request: CatchAllApi.UploadCsvToDatasetRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.UploadCsvToDatasetResponse>> {
        const _body = await core.newFormData();
        await _body.appendFile("file", request.file);
        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ ..._maybeEncodedRequest.headers }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/datasets/${core.url.encodePathParam(request.dataset_id)}/upload`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CatchAllApi.UploadCsvToDatasetResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/catchAll/datasets/{dataset_id}/upload",
        );
    }
}
