// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CatchAllApi from "../../../index.js";

export declare namespace MonitorsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Operations to create, operate and retrieve monitor results.
 */
export class MonitorsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MonitorsClient.Options>;

    constructor(options: MonitorsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Create a monitor that runs jobs based on a reference job with a specified schedule.
     *
     * **Schedule requirements:**
     * - Minimum 24-hour interval between executions
     * - Natural language format (e.g., "every day at 12 PM UTC", "every 48 hours")
     *
     * **Validation:**
     * - Schedules below minimum frequency return error with descriptive message.
     * - Invalid job IDs return 400 Bad Request.
     * - Duplicate monitors (same job already monitored) return error.
     *
     * @param {CatchAllApi.CreateMonitorRequestDto} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.monitors.createMonitor({
     *         reference_job_id: "reference_job_id",
     *         schedule: "every day at 12 PM UTC"
     *     })
     */
    public createMonitor(
        request: CatchAllApi.CreateMonitorRequestDto,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.CreateMonitorResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__createMonitor(request, requestOptions));
    }

    private async __createMonitor(
        request: CatchAllApi.CreateMonitorRequestDto,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.CreateMonitorResponseDto>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/monitors/create",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.CreateMonitorResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/catchAll/monitors/create");
    }

    /**
     * Update webhook configuration for an existing monitor without recreating it.
     *
     * **Supported updates:**
     * - Webhook URL
     * - HTTP method (POST/PUT)
     * - Headers and authentication
     * - Query parameters
     *
     * **Note:** Schedule and reference job cannot be modified. To change these, create a new monitor.
     *
     * @param {CatchAllApi.UpdateMonitorRequestDto} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.monitors.updateMonitor({
     *         monitor_id: "monitor_id",
     *         webhook: {
     *             url: "https://new-endpoint.com/webhook",
     *             method: "POST",
     *             headers: {
     *                 "Authorization": "Bearer new_token_xyz"
     *             }
     *         }
     *     })
     */
    public updateMonitor(
        request: CatchAllApi.UpdateMonitorRequestDto,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.UpdateMonitorResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__updateMonitor(request, requestOptions));
    }

    private async __updateMonitor(
        request: CatchAllApi.UpdateMonitorRequestDto,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.UpdateMonitorResponseDto>> {
        const { monitor_id: monitorId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/monitors/${core.url.encodePathParam(monitorId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.UpdateMonitorResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/catchAll/monitors/{monitor_id}",
        );
    }

    /**
     * Returns all jobs associated with a monitor, sorted by start_date.
     * Each job includes job_id, start_date, and end_date.
     *
     * @param {CatchAllApi.ListMonitorJobsRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.monitors.listMonitorJobs({
     *         monitor_id: "monitor_id"
     *     })
     */
    public listMonitorJobs(
        request: CatchAllApi.ListMonitorJobsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ListMonitorJobsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMonitorJobs(request, requestOptions));
    }

    private async __listMonitorJobs(
        request: CatchAllApi.ListMonitorJobsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ListMonitorJobsResponse>> {
        const { monitor_id: monitorId, sort } = request;
        const _queryParams: Record<string, unknown> = {
            sort: sort != null ? sort : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/monitors/${core.url.encodePathParam(monitorId)}/jobs`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.ListMonitorJobsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/monitors/{monitor_id}/jobs",
        );
    }

    /**
     * Retrieve aggregated results from all jobs executed by this monitor.
     * Includes monitor configuration, execution history, and all records collected.
     *
     * @param {CatchAllApi.PullMonitorResultsRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.monitors.pullMonitorResults({
     *         monitor_id: "monitor_id"
     *     })
     */
    public pullMonitorResults(
        request: CatchAllApi.PullMonitorResultsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.PullMonitorResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__pullMonitorResults(request, requestOptions));
    }

    private async __pullMonitorResults(
        request: CatchAllApi.PullMonitorResultsRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.PullMonitorResponseDto>> {
        const { monitor_id: monitorId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/monitors/pull/${core.url.encodePathParam(monitorId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.PullMonitorResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/monitors/pull/{monitor_id}",
        );
    }

    /**
     * Disables a monitor to stop executing scheduled jobs.
     * Validates that the provided API key is associated with the monitor.
     *
     * @param {CatchAllApi.DisableMonitorRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.monitors.disableMonitor({
     *         monitor_id: "monitor_id"
     *     })
     */
    public disableMonitor(
        request: CatchAllApi.DisableMonitorRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.DisableMonitorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__disableMonitor(request, requestOptions));
    }

    private async __disableMonitor(
        request: CatchAllApi.DisableMonitorRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.DisableMonitorResponse>> {
        const { monitor_id: monitorId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/monitors/${core.url.encodePathParam(monitorId)}/disable`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.DisableMonitorResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/catchAll/monitors/{monitor_id}/disable",
        );
    }

    /**
     * Enables a monitor to resume executing scheduled jobs.
     * Validates that the provided API key is associated with the monitor.
     *
     * @param {CatchAllApi.EnableMonitorRequest} request
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.monitors.enableMonitor({
     *         monitor_id: "monitor_id"
     *     })
     */
    public enableMonitor(
        request: CatchAllApi.EnableMonitorRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.EnableMonitorResponse> {
        return core.HttpResponsePromise.fromPromise(this.__enableMonitor(request, requestOptions));
    }

    private async __enableMonitor(
        request: CatchAllApi.EnableMonitorRequest,
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.EnableMonitorResponse>> {
        const { monitor_id: monitorId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/monitors/${core.url.encodePathParam(monitorId)}/enable`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.EnableMonitorResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/catchAll/monitors/{monitor_id}/enable",
        );
    }

    /**
     * Returns all monitors created by the authenticated user.
     *
     * @param {MonitorsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.monitors.listMonitors()
     */
    public listMonitors(
        requestOptions?: MonitorsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ListMonitorsResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__listMonitors(requestOptions));
    }

    private async __listMonitors(
        requestOptions?: MonitorsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ListMonitorsResponseDto>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/monitors",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.ListMonitorsResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catchAll/monitors");
    }
}
