// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CatchAllApi from "../../../index.js";

export declare namespace JobsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Operations to create, monitor, and retrieve job results.
 */
export class JobsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobsClient.Options>;

    constructor(options: JobsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Submit a natural language query to create a new processing job.
     *
     * @param {CatchAllApi.SubmitRequestDto} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     *
     * @example
     *     await client.jobs.createJob({
     *         query: "AI company acquisitions",
     *         context: "Focus on deal size and acquiring company details"
     *     })
     */
    public createJob(
        request: CatchAllApi.SubmitRequestDto,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.SubmitResponseBody> {
        return core.HttpResponsePromise.fromPromise(this.__createJob(request, requestOptions));
    }

    private async __createJob(
        request: CatchAllApi.SubmitRequestDto,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.SubmitResponseBody>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/submit",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.SubmitResponseBody, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/catchAll/submit");
    }

    /**
     * Retrieve the current processing status of a job.
     *
     * @param {CatchAllApi.GetJobStatusRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     *
     * @example
     *     await client.jobs.getJobStatus({
     *         job_id: "af7a26d6-cf0b-458c-a6ed-4b6318c74da3"
     *     })
     */
    public getJobStatus(
        request: CatchAllApi.GetJobStatusRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.StatusResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__getJobStatus(request, requestOptions));
    }

    private async __getJobStatus(
        request: CatchAllApi.GetJobStatusRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.StatusResponseDto>> {
        const { job_id: jobId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/status/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.StatusResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catchAll/status/{job_id}");
    }

    /**
     * Returns all jobs created by the authenticated user.
     *
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.jobs.getUserJobs()
     */
    public getUserJobs(
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ListUserJobsResponseDto[]> {
        return core.HttpResponsePromise.fromPromise(this.__getUserJobs(requestOptions));
    }

    private async __getUserJobs(
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ListUserJobsResponseDto[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/jobs/user",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CatchAllApi.ListUserJobsResponseDto[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.CatchAllApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catchAll/jobs/user");
    }

    /**
     * Retrieve the final results for a completed job.
     *
     * @param {CatchAllApi.GetJobResultsRequest} request
     * @param {JobsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     *
     * @example
     *     await client.jobs.getJobResults({
     *         job_id: "af7a26d6-cf0b-458c-a6ed-4b6318c74da3"
     *     })
     */
    public getJobResults(
        request: CatchAllApi.GetJobResultsRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.PullJobResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__getJobResults(request, requestOptions));
    }

    private async __getJobResults(
        request: CatchAllApi.GetJobResultsRequest,
        requestOptions?: JobsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.PullJobResponseDto>> {
        const { job_id: jobId, page, page_size: pageSize } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (page != null) {
            _queryParams.page = page.toString();
        }

        if (pageSize != null) {
            _queryParams.page_size = pageSize.toString();
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/pull/${core.url.encodePathParam(jobId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.PullJobResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catchAll/pull/{job_id}");
    }
}
