// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as CatchAllApi from "../../../index.js";

export declare namespace ProjectsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Operations to create, organize, and manage projects.
 *
 * A project is a named container for jobs, monitors, and datasets. Group
 * related resources by use case, team, or client, and share them with
 * teammates. Resources can be assigned at creation time or post-hoc.
 */
export class ProjectsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ProjectsClient.Options>;

    constructor(options: ProjectsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns all projects visible to the authenticated user.
     *
     * @param {CatchAllApi.ListProjectsRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.listProjects({
     *         search: "M&A"
     *     })
     */
    public listProjects(
        request: CatchAllApi.ListProjectsRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ProjectListResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__listProjects(request, requestOptions));
    }

    private async __listProjects(
        request: CatchAllApi.ListProjectsRequest = {},
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ProjectListResponseDto>> {
        const { page, page_size: pageSize, search, ownership } = request;
        const _queryParams: Record<string, unknown> = {
            page,
            page_size: pageSize,
            search,
            ownership: ownership != null ? ownership : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/projects",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.ProjectListResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/catchAll/projects");
    }

    /**
     * Creates a new project.
     *
     * @param {CatchAllApi.CreateProjectRequestDto} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.createProject({
     *         name: "AI M&A Tracking",
     *         description: "Tracks AI-related M&A activity for our investment team."
     *     })
     */
    public createProject(
        request: CatchAllApi.CreateProjectRequestDto,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.CreateProjectResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__createProject(request, requestOptions));
    }

    private async __createProject(
        request: CatchAllApi.CreateProjectRequestDto,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.CreateProjectResponseDto>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                "catchAll/projects",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.CreateProjectResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/catchAll/projects");
    }

    /**
     * Returns a single project by ID.
     *
     * @param {CatchAllApi.GetProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.getProject({
     *         project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
     *     })
     */
    public getProject(
        request: CatchAllApi.GetProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ProjectResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__getProject(request, requestOptions));
    }

    private async __getProject(
        request: CatchAllApi.GetProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ProjectResponseDto>> {
        const { project_id: projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.ProjectResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/projects/{project_id}",
        );
    }

    /**
     * Deletes a project. By default, assigned resources are unassigned but not deleted.
     *
     * Webhooks are an exception: they are never deleted by this operation, even when `delete_resources` is `true`. Any attached webhook is detached from the project and continues to exist and deliver, because the same webhook may be attached to other projects.
     *
     * @param {CatchAllApi.DeleteProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.deleteProject({
     *         project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
     *     })
     */
    public deleteProject(
        request: CatchAllApi.DeleteProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteProject(request, requestOptions));
    }

    private async __deleteProject(
        request: CatchAllApi.DeleteProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { project_id: projectId, delete_resources: deleteResources } = request;
        const _queryParams: Record<string, unknown> = {
            delete_resources: deleteResources,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/catchAll/projects/{project_id}",
        );
    }

    /**
     * Updates the name or description of an existing project.
     *
     * @param {CatchAllApi.UpdateProjectRequestDto} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.updateProject({
     *         project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04",
     *         name: "AI M&A Tracking (Q2 2026)"
     *     })
     */
    public updateProject(
        request: CatchAllApi.UpdateProjectRequestDto,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.UpdateProjectResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__updateProject(request, requestOptions));
    }

    private async __updateProject(
        request: CatchAllApi.UpdateProjectRequestDto,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.UpdateProjectResponseDto>> {
        const { project_id: projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/projects/${core.url.encodePathParam(projectId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.UpdateProjectResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/catchAll/projects/{project_id}",
        );
    }

    /**
     * Returns resource counts for a project, grouped by type and status.
     *
     * For `jobs` and `monitors`, counts are broken down by status (for example, `completed`, `failed`). For `datasets`, `monitor_groups`, and `webhooks`, only a `total` count is returned.
     *
     * @param {CatchAllApi.GetProjectOverviewRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.getProjectOverview({
     *         project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
     *     })
     */
    public getProjectOverview(
        request: CatchAllApi.GetProjectOverviewRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ProjectOverviewResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__getProjectOverview(request, requestOptions));
    }

    private async __getProjectOverview(
        request: CatchAllApi.GetProjectOverviewRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ProjectOverviewResponseDto>> {
        const { project_id: projectId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/projects/${core.url.encodePathParam(projectId)}/overview`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CatchAllApi.ProjectOverviewResponseDto,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/projects/{project_id}/overview",
        );
    }

    /**
     * Returns all resources assigned to a project, with optional filtering by type.
     *
     * @param {CatchAllApi.ListProjectResourcesRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link CatchAllApi.UnprocessableEntityError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.listProjectResources({
     *         project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04"
     *     })
     */
    public listProjectResources(
        request: CatchAllApi.ListProjectResourcesRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.ProjectResourceListResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__listProjectResources(request, requestOptions));
    }

    private async __listProjectResources(
        request: CatchAllApi.ListProjectResourcesRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.ProjectResourceListResponseDto>> {
        const { project_id: projectId, resource_type: resourceType, page, page_size: pageSize } = request;
        const _queryParams: Record<string, unknown> = {
            resource_type: resourceType != null ? resourceType : undefined,
            page,
            page_size: pageSize,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/projects/${core.url.encodePathParam(projectId)}/resources`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CatchAllApi.ProjectResourceListResponseDto,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 422:
                    throw new CatchAllApi.UnprocessableEntityError(
                        _response.error.body as CatchAllApi.ValidationErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/catchAll/projects/{project_id}/resources",
        );
    }

    /**
     * Assigns one or more existing resources to a project in a single request.
     *
     * @param {CatchAllApi.AddResourceRequestDto} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.BadRequestError}
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.addResourceToProject({
     *         project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04",
     *         resources: [{
     *                 resource_type: "job",
     *                 resource_id: "48421e16-1f50-4048-b62c-d3bc0789d30d"
     *             }]
     *     })
     */
    public addResourceToProject(
        request: CatchAllApi.AddResourceRequestDto,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.AddResourceResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__addResourceToProject(request, requestOptions));
    }

    private async __addResourceToProject(
        request: CatchAllApi.AddResourceRequestDto,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.AddResourceResponseDto>> {
        const { project_id: projectId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/projects/${core.url.encodePathParam(projectId)}/resources`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as CatchAllApi.AddResourceResponseDto, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new CatchAllApi.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/catchAll/projects/{project_id}/resources",
        );
    }

    /**
     * Removes a resource from a project. The resource itself is not
     * deleted — it becomes unassigned and continues to exist.
     *
     * @param {CatchAllApi.RemoveResourceFromProjectRequest} request
     * @param {ProjectsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link CatchAllApi.ForbiddenError}
     * @throws {@link CatchAllApi.NotFoundError}
     * @throws {@link errors.CatchAllApiError}
     * @throws {@link errors.CatchAllApiTimeoutError}
     *
     * @example
     *     await client.projects.removeResourceFromProject({
     *         project_id: "60a85db4-78ec-4b78-876a-bc7d9cdadd04",
     *         resource_type: "job",
     *         resource_id: "48421e16-1f50-4048-b62c-d3bc0789d30d"
     *     })
     */
    public removeResourceFromProject(
        request: CatchAllApi.RemoveResourceFromProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): core.HttpResponsePromise<CatchAllApi.RemoveResourceResponseDto> {
        return core.HttpResponsePromise.fromPromise(this.__removeResourceFromProject(request, requestOptions));
    }

    private async __removeResourceFromProject(
        request: CatchAllApi.RemoveResourceFromProjectRequest,
        requestOptions?: ProjectsClient.RequestOptions,
    ): Promise<core.WithRawResponse<CatchAllApi.RemoveResourceResponseDto>> {
        const { project_id: projectId, resource_type: resourceType, resource_id: resourceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CatchAllApiEnvironment.Default,
                `catchAll/projects/${core.url.encodePathParam(projectId)}/resources/${core.url.encodePathParam(resourceType)}/${core.url.encodePathParam(resourceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as CatchAllApi.RemoveResourceResponseDto,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 403:
                    throw new CatchAllApi.ForbiddenError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                case 404:
                    throw new CatchAllApi.NotFoundError(
                        _response.error.body as CatchAllApi.Error_,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.CatchAllApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/catchAll/projects/{project_id}/resources/{resource_type}/{resource_id}",
        );
    }
}
